.item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    p,small{
        text-align: center;
        align-items: center;
    }

}