@import url('https://fonts.googleapis.com/css2?family=Abel&family=Fredoka+One&family=Righteous&family=Roboto&display=swap');



.cards{
    display:grid;   
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-rows: minmax(auto);
    justify-items: center;
    align-items: center;
    row-gap: 5px;
    img{
       height: 200px;
       width: auto;
    }   
    
    h1{
     font-size: 50px;
     color:rgb(47, 116, 206);
    }  
    .VerMas{
        height: 30px;
        width: 130px;
        border-radius: 12%;
        background-color: rgb(47, 116, 206);
        color: white;
        text-align: center;
    }     
    
 }
 .nuestro{
    margin: 0px ;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-family: 'Fredoka One, c';
    font-family: 'Righteous'; 
    font-family: 'Roboto', sans-serif;
    background-color: rgba(22, 21, 19, 0.979);
    color: white;
   
   
}


